.smex-items
.spacemacs.env
auto-save-list
custom.el
elpa
ido.last*
**/eln-cache
**/straight/build*
**/straight/modified*
**/straight/repos
vanilla/.lsp*
vanilla/amx*
vanilla/history
vanilla/places
vanilla/projectile*
vanilla/recentf
var
