*.elc
*~$
.last-package-update-day
.mc-lists.el
.recentf*
.smex-items
archive-contents
auto-save-list
backups
custom.el
cider-history
elpa
melpa-stable
nov-places
places
projectile-bookmarks.eld
projectile.cache
session.*
transient
var